@inject IBlogDataAccess DataAccess
<div class="sidebar-box ftco-animate">
    <h3 class="heading-sidebar">Recent Posts</h3>
    @foreach (var post in (await DataAccess.GetPostsAsync(new PaginationRequest(1, 3))).Results)
    {
        var postUrl = Url.Action("Post", "Blog", new { link = post.Link });
        <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(@post.Image);"></a>
            <div class="text">
                <h3 class="heading"><a href="@postUrl">@post.Title</a></h3>
                <div class="meta">
                    <div><a href="@postUrl"><span class="icon-calendar"></span>
                            @(post.PublishDate.ToString("MMMM dd, yyyy"))</a></div>
                    @* <div><a href="@postUrl"><span class="icon-person"></span>
                        @settings.FirstName</a></div> *@
                    <div><a href="@postUrl"><span class="icon-chat"></span> @(post.Comments.Length)</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>